*{
    box-sizing: border-box;
}
body {
    margin: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kartyak {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    
}


.kutyaKepek {
   width: 25%;
}